<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Accounting</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">

    <style>
        .split {
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            overflow-x: auto;
            overflow-y: auto;
            padding-top: 10px;
        }

        .left {
            left: 0;
            width: 15%;
        }

        .center {
            left: 15%;
            width: 85%;
        }
    </style>
</head>
<body>
    <div class="wrapper">
    <div class="split left">
        <div class="centered">
            <form class="form-horizontal" th:action="@{/setPeriod}" method="POST">
                <fieldset>
                <!-- Buttons  -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="delete_payment"></label>
                        <div class="d-grid gap-1 col-9 mx-auto">
                            <a class="btn btn-success" href="/addNewPayment" role="button">Add Payment</a>
                            <button type="submit" form="delete_payment" name="delete_payment" class="btn btn-danger">Delete Payment</button>
                            <a class="btn btn-primary" href="/currencyExchange" role="button">Currency Exchange</a>
                            <a class="btn btn-primary" href="/transfer" role="button">Transfer to Account</a>
                            <a class="btn btn-primary" href="/accountsStatistic" role="button">Accounts Statistic</a>
                            <a class="btn btn-primary" href="/settingsMain" role="button">Settings</a>
                            <a class="btn btn-primary" href="/home" role="button">Home Page</a>
                            <a class="btn btn-primary" href="/login?logout" role="button">Log out</a>
                            <tr>
                                <td>Start&nbspdate:</td><td style="text-align: right"><input type="date" id="startDate" name="startDate" th:value="${startDate}"/></td>
                            </tr>
                            <tr>
                                <td>End&nbspdate:</td><td style="text-align: right"><input type="date" id="endDate" name="endDate" th:value="${endDate}"/></td>
                            </tr>
                              <button type="submit" class="btn btn-primary" role="button">Set period</button>
                              <a class="btn btn-primary" href="/setPeriodToday" role="button">Set Today</a>
                              <a class="btn btn-primary" href="/setPeriodMonth" role="button">Set This Month</a>
                        </div>
                    </div>
                </fieldset>
            </form>

            <!-- Set Filters  -->
            <form class="form-horizontal" th:action="@{/setFilters}" th:object="${filters}" method="POST">
                <div class="d-grid gap-1 col-9 mx-auto">
                    <label>Currency:</label>
                    <div>
                        <td><input class="form-check-input" name="newFilters" type="checkbox" id="checkboxUAH" value="UAH" th:checked="${filters.isUAH}">&nbspUAH</td>
                        <td><input class="form-check-input" name="newFilters" type="checkbox" id="checkboxEUR" value="EUR" th:checked="${filters.isEUR}">&nbspEUR</td>
                        <td><input class="form-check-input" name="newFilters" type="checkbox" id="checkboxUSD" value="USD" th:checked="${filters.isUSD}">&nbspUSD</td>
                    </div>
                    <label>Payment direction:</label>
                    <div>
                        <td><input class="form-check-input" name="newFilters" type="checkbox" id="checkboxIN" value="IN" th:checked="${filters.isIN}"> IN</td>
                        <td><input class="form-check-input" name="newFilters" type="checkbox" id="checkboxOUT" value="OUT" th:checked="${filters.isOUT}"> OUT</td>
                    </div>
                    <label>Status:</label>
                    <div>
                        <td><input class="form-check-input" name="newFilters" type="checkbox" id="checkboxCompleted" value="Completed" th:checked="${filters.isCompleted}"> Completed</td>
                    </div>
                    <div>
                        <input class="form-check-input" name="newFilters" type="checkbox" id="checkboxScheduled" value="Scheduled" th:checked="${filters.isScheduled}"> Scheduled
                    </div>
                    <button type="submit" class="btn btn-primary ">Set Filters</button>
                </div>
            </form>



        </div>
    </div>

    <div class="split center">

        <form class="form-horizontal" th:object="${statistic}">
            <label class="col-md-2 control-label"></label>
            <div class="d-grid gap-1 col-11">
                <table class="table table-success"  border="2">
                    <tr>
                        <td style="text-align: right"><b>Total:</b></td>
                        <td style="text-align: right">₴</td><td style="text-align: left"
                                                    th:style="${statistic.totalSumUAH < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.totalSumUAH, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right">€</td><td style="text-align: left"
                                                    th:style="${statistic.totalSumEUR < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.totalSumEUR, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right">$</td><td style="text-align: left"
                                                    th:style="${statistic.totalSumUSD < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.totalSumUSD, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right"><b>On&nbspScreen:</b></td>
                        <td style="text-align: right">₴</td><td style="text-align: left"
                                                    th:style="${statistic.onScreenSumUAH < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.onScreenSumUAH, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right">€</td><td style="text-align: left"
                                                    th:style="${statistic.onScreenSumEUR < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.onScreenSumEUR, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right">$</td><td style="text-align: left"
                                                    th:style="${statistic.onScreenSumUSD < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.onScreenSumUSD, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right"><b>Today:</b></td>
                        <td style="text-align: right">₴</td><td style="text-align: left"
                                                    th:style="${statistic.dailySumUAH < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.dailySumUAH, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right">€</td><td style="text-align: left"
                                                    th:style="${statistic.dailySumEUR < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.dailySumEUR, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                        <td style="text-align: right">$</td><td style="text-align: left"
                                                    th:style="${statistic.dailySumUSD < 0 ? 'color : #dc3545' : 'color : #000'}"
                                                    th:text ="${#numbers.formatDecimal(statistic.dailySumUSD, 1, 'COMMA', 2, 'POINT')}">456.12</td>
                    </tr>
                </table>
            </div>
        </form>

        <div class="centered d-grid gap-1 col-11 mx-a">
              <!--      List / Edit Payments      -->
            <form id="delete_payment" th:action="@{/deletePayment}" th:object="${payments}" method="post">
                <table class="table table-striped" border="1">
                    <tr>
                        <td></td>
                        <td><b>Date</b></td>
                        <td><b>Account name</b></td>
                        <td><b>Payment category</b></td>
                        <td><b>Description</b></td>
                        <td style="text-align: -webkit-center"><b>Direction</b></td>
                        <td style="text-align: -webkit-center"><b>Status</b></td>
                        <td style="text-align: -webkit-center"><b>Currency</b></td>
                        <td style="text-align: -webkit-center"><b>Amount</b></td>
                        <td></td>
                    </tr>
                    <th:block th:each="payment : ${payments}">
                        <tr>
                            <td><input class="form-check-input" type="checkbox"  name="toDelete" th:value="${payment.id}" th:id="'check_' + ${payment.id}"></td>
                            <td th:text ="${#temporals.format(payment.dateTime, 'dd-MM-yyyy HH:mm')}">...</td>
                            <td th:text ="${payment.account.name}">...</td>
                            <td th:text ="${payment.paymentCategory.name}">...</td>
                            <td th:text ="${payment.description}">...</td>
                            <td style="text-align: -webkit-center" th:text ="${payment.direction} ? 'IN' : 'OUT'">...</td>
                            <td style="text-align: -webkit-center" th:text ="${payment.status} ? 'Completed' : 'Scheduled'">...</td>
                            <td style="text-align: -webkit-center" th:text ="${payment.currencyName}">...</td>
                            <td style="text-align: right" th:text ="${#numbers.formatDecimal(payment.amount, 0, 'COMMA', 2, 'POINT')}">...</td>
                            <td> <a th:href="@{'/updatePayment/' + ${payment.id}}">Edit</a> </td>
                        </tr>
                    </th:block>
                </table>
            </form>
        </div>
    </div>

    <script crossorigin="anonymous"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>
</div>
</body>
</html>